<p class="title">Table of Todos!</p>

<div class="box-table">
    <table>
        <tr class="table-head">
            <td>UserId</td>
            <td>Id</td>
            <td>Title</td>
            <td>Completed</td>
        </tr>
        <tr class="row-data" *ngFor="let data of todo">
            <td class="col-userId">{{data.userId}}</td>
            <td class="col-id">{{data.id}}</td>
            <td class="col-title">{{data.title}}</td>
            <td class="col-completed">{{data.completed}}</td>
        </tr>
    </table>
</div>

